
<ng-container *ngIf="gameResult != null">
    <div class="ranking">
        <div *ngFor="let playerInfo of gameResult.ranking; let i=index" class="ranking-row">
            {{i+1}}. {{playerInfo.username}}
        </div>
    </div>

    <div style="height: 10px;"></div>
    
    <ng-container *ngIf="rating != null">
        <div class="season-points">New Score: {{rating.value}}</div>
    </ng-container>
    
    <div style="height: 10px;"></div>

    <ng-container *ngIf="coin != null && coin.value > 0">
        <div>
            <app-coins [amount]="coin.value"></app-coins>
        </div>
    </ng-container>
</ng-container>
