
.container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    font-size: 20px;
}

.container:hover {
    background: #fff1;
}

.room-name {
    width: 400px;
}

.preset-name {
    width: 200px;
}

.custom {
    width: 120px;
}

.player-count {
    width: 200px;
    display: flex;
}

.player-count-item {
    display: flex;
    align-items: center;
}

.player-count-value {
    padding-left: 3px;
    padding-right: 9px;
}