
<div class="container" (click)="join.emit()">
    <div class="preset-name">{{roomInfo.custom ? '(' + roomInfo.presetName + ')' : roomInfo.presetName}}</div>
    <div class="room-name">{{roomInfo.name}}</div>
    <div class="player-count">
        <div class="player-count-item">
            <img src="assets/img/default/icon-player.svg"/>
            <div class="player-count-value">{{playerCount + (slotCount ? ' / ' + slotCount : '')}}</div>
        </div>

        <div class="player-count-item">
            <img src="assets/img/default/icon-eye.svg"/>
            <div class="player-count-value">{{spectatorCount}}</div>
        </div>
    </div>
    <app-icon-button iconName="eye" (click)="onSpectateClicked($event)"></app-icon-button>
</div>
