
<div class="title">
    Key binding
</div>

<div style="height: 10px;"></div>

<div class="keyBox" *ngFor="let key of this.keys; let i = index;">
    <div class="caption">{{key.name}}</div>
    <input #inp (keydown)="onKeydown(i, $event)" class="inp" [value]="key.value"/>
</div>

<div class="title">
    Sensitivity settings
</div>

<div class="sensitivity-presets-row">
    <div class="sensitivity-option" (click)="setSonic()">Sonic</div>
    <div class="sensitivity-option" (click)="setFast()">Fast</div>
    <div class="sensitivity-option" (click)="setNormal()">Normal</div>
</div>

<div class="keyBox">
    <div class="caption">Slide delay (DAS)</div>
    <input #inpDas type="range" min="0" max="200" step="5" [(value)]="das" (change)="setDas()">
    <div>{{das}} ms</div>
</div>

<div class="keyBox">
    <div class="caption">Slide interval (1/ARR)</div>
    <input #inpArr type="range" min="0" max="100" step="5" [(value)]="arr" (change)="setArr()">
    <div>{{arr}} ms</div>
</div>

<!-- <div class="keyBox">
    <div class="caption">Soft drop delay</div>
    <input #inpSdDas type="range" min="0" max="20" [(value)]="sdDas" (change)="setSdDas()">
    <div>{{sdDas}} ({{toMs(sdDas)}} ms)</div>
</div> -->

<div class="keyBox">
    <div class="caption">Soft drop rate (1/SDR)</div>
    <input #inpSdArr type="range" min="0" max="100" step="5" [(value)]="sdArr" (change)="setSdArr()">
    <div>{{sdArr}} ms</div>
</div>

<div style="height: 20px;"></div>

<div class="keyBox">
    <div class="caption"></div>
    <button (click)="onCloseClicked()">Close Settings</button>
</div>
