
.container {
    display: block;
    padding: 50px;
}

.keyBox {
    display: flex;
    padding: 2px;
}

.keyBox:hover {
    background: #fff1;
}

.caption {
    width: 180px;
}

.inp {
    text-align: center;
    width: 120px;
}


.title {
    font-size: 24px;
    margin-top: 20px;
}

.sensitivity-presets-row {
    display: flex;
}

.sensitivity-option {
    cursor: pointer;
    padding: 10px;
}

.sensitivity-option:hover {
    background: #fff3;
}