
.field-container {
    display: flex;
}

.field-value {
    width: 200px;
    padding: 5px;
    cursor: pointer;
}
.field-value:hover {
    background: #fff2;
}
.field-input {
    width: 200px;
}

.action-button {
    width: 50px;
}