
<div class="field-container">
    <div 
        *ngIf="!editMode"
        class="field-value"
        (click)="onEditClicked()"
    >{{value}}</div>

    <ng-container *ngIf="editMode">
        <input
            #input 
            [(ngModel)]="editedValue" 
            (keyup.enter)="onSubmitValue()" 
            (blur)="onSubmitValue()" 
            class="field-input"/>
    </ng-container>
</div>
