
.tab-row {
    display: flex;
    justify-content: center;
}

.leaderboard-container {
    margin-top: 20px;
}

.leaderboard-row {
    cursor: cell;
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    background: #aaf2;
}

.leaderboard-row:hover{
    background: #aaf4
}

.rank {
    width: 50px;
    text-align: right;
}

.username {
    width: 150px;
}

.score {
    width: 80px;
    text-align: right;
}

.note {
    text-align: center;
    margin-top: 20px;
    color: #fff8;
}