
<div class="tab-row">
    <ng-container *ngFor="let leaderboard of leaderboardList">
        <app-lobby-btn
            [text]="leaderboard.name"
            (click)="loadLeaderboard(leaderboard)"
        ></app-lobby-btn>
    </ng-container>
    
    <app-lobby-btn
        [text]="'Go back'"
        (click)="close.emit()"
    ></app-lobby-btn>
</div>

<div *ngIf="data!=null" class="leaderboard-container">
    <div class="leaderboard-row">
        <div class="rank">Rank</div>
        <div style="width: 50px;"></div>
        <div class="username">Player</div>
        <div class="score">Score</div>
    </div>

    <div *ngFor="let row of data.rows; let i=index" class="leaderboard-row">
        <div class="rank">{{data.offset + i + 1}}.</div>
        <div style="width: 50px;"></div>
        <div class="username">{{row.username}}</div>
        <div class="score">{{row.score | number:'1.0-0'}}</div>
    </div>
</div>

<div class="note">Scores are based on multiplayer games on the server rooms. Scoring formula is still subject to change.</div>
