
.btn {
    cursor: pointer;
    opacity: 0.5;
    transition: 200ms;
}

.btn:hover {
    opacity: 1;
    scale: 1.2;
    transition: 0;
}

.notification {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 12px;
    background: #00c;
    text-align: center;
    font-size: 12px;
    z-index: 1;
    border-radius: 3px;
    border: solid 1px
}
