
.btn {
    font-size: 18px;
    box-shadow: inset 0 -2px 2px -2px #fff;
    padding: 6px 40px;
    cursor: pointer;
    transition: 200ms;
}

.btn:hover {
    transition: 50ms;
    box-shadow: inset 0 -24px 20px -24px #fff;
}

.btn.highlight {
    color: #ff0;
    box-shadow: inset 0 -2px 2px -2px #ff0;
}

.btn.highlight:hover {
    box-shadow: inset 0 -24px 20px -24px #ff0;
}