
<div style="text-align: center;">
    <ng-container *ngIf="!opened">
        <div style="display: flex; justify-content: center;">
            <app-lobby-btn [text]="'Scores'" (click)="openLeaderboard.emit()"></app-lobby-btn>
            <app-lobby-btn [text]="'Refresh Rooms'" (click)="onRefresh()"></app-lobby-btn>
            <app-lobby-btn [text]="'Create Room'" [highlight]="true" (click)="opened=true"></app-lobby-btn>
        </div>
    </ng-container>

    <ng-container *ngIf="opened">
        <div>
            <input type="checkbox" [(ngModel)]="custom" style="transform:scale(2, 2);"/> Customize
        </div>

        <div class="mode-container">
            <ng-container *ngFor="let presetInfo of presetInfos; let i=index">
                <div class="cr-btn"
                    (click)="onCreateRoom(presetInfo.position)"
                    (mouseenter)="desc=presetInfo.dsc"
                    [ngStyle]="{'background': bgColors[i % bgColors.length]}">
                    <div>{{presetInfo.name}}</div>
                </div>
            </ng-container>
            <div class="cr-btn" (click)="opened=false">Cancel</div>
        </div>

        <div style="text-align: center; height: 40px;">{{desc}}</div>
    </ng-container>
    
</div>

