
.cr-btn {
    transition: 50ms;
    width: 200px;
    height: 60px;
    font-size: 18pt;

    background: #fff5;
    // border: solid 2px #fffa;
    border-radius: 5px;
    margin: 8px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cr-btn:hover {
    filter: saturate(400%);
    box-shadow: 0px 0px 7px 7px #fff4;
  }

.mode-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}