
.clickable {
    cursor: pointer;
}

.clickable:hover {
    background: #fff2;
}

.list-title {
    margin-top: 10px;
    color: #fff8;
    font-size: 18px;
}

.list-item {
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.room-title {
    font-size: 24px;
    font-weight: bold;
}

.icon-slot {
    width: 30px;
}

.icon {
    scale: 0.5;
}

.player-name {
    width: 150px;
}

.player-button {
    cursor: pointer;
    user-select: none;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    background: #333;
    font-size: 24px;;
}

.player-button:hover {
    background: #777;
}

.team {
    user-select: none;
    width: 60px;
    text-align: center;
    cursor: pointer;
}

.team-0 {
    background: #777;
}

.team-1 {
    background: #66c;
}

.team-2 {
    background: #6a6;
}

.team-3 {
    background: #c66;
}

.team-4 {
    background: #994;
}

.start-note {
    margin-top: 10px;
    color: #fff8;
}
