
<div style="display: inline-block; border: solid 1px black; padding: 10px; display: flex;"
    [ngClass]="{'clickable': allowJoin }" (click)="allowJoin ? onJoinClicked() : null" >
    <div>
        <div class="room-title">
            {{roomInfo.name ? roomInfo.name : "Unnamed Room"}} <ng-container *ngIf="roomInfo.running">(in game)</ng-container>
        </div>
        
        <div style="display: flex">
            <div class="list-title">
                Players:
            </div>

            <div style="display: flex; margin-left: auto;" *ngIf="roomInfo.isHost && !roomInfo.autoJoin">
                <div class="player-button" (click)="addPlayerEventEmitter.emit()">+</div>
                <div class="player-button" (click)="removePlayerEventEmitter.emit()">-</div>
            </div>
        </div>

        <div class="list-item"
            *ngFor="let player of roomInfo.players; let i=index"
            style="font-size: 13pt;"
            [ngStyle]="{'cursor': player == null ? 'pointer' : 'default'}"
            (click)="playerSeatClicked(i)">
            
            <span class="icon-slot">
                <app-icon-button [iconName]="(!roomInfo.hostIsSpectator && roomInfo.host == i) ? 'crown' : player == null ? 'slot' : 'slot-filled'"
                    (click)="transferHost(i, false)"
                ></app-icon-button>
            </span>
            
            <div class="player-name">
                <ng-container *ngIf="player==null">
                    -
                </ng-container>
            
                <ng-container *ngIf="player!=null">
                    {{player.username}}
                </ng-container>
            </div>

            <ng-container *ngIf="gameRuleInput != null && gameRuleInput.sideRules[i] != null">
                <div class="team" 
                    [ngClass]="[gameRuleInput.sideRules[i].get('team') ? 'team-'+gameRuleInput.sideRules[i].get('team') : 'team-0']"
                    (click)="onTeamClick($event, i)">
                    <ng-container *ngIf="!gameRuleInput.sideRules[i].get('team')">
                        free
                    </ng-container>
    
                    <ng-container *ngIf="gameRuleInput.sideRules[i].get('team')">
                        team
                    </ng-container>
                </div>
            </ng-container>
        </div>

        <div *ngIf="roomInfo.spectators.length > 0" class="list-title" style="cursor: pointer;" (click)="switchSeatsEventEmitter.emit(null)">
            Spectators:
        </div>
        <div class="list-item" *ngFor="let spectator of roomInfo.spectators; let i=index" style="font-size: 13pt">
            <span class="icon-slot">
                <app-icon-button [iconName]="(roomInfo.hostIsSpectator && roomInfo.host == i) ? 'crown' : 'eye'"
                    (click)="transferHost(i, true)"
                ></app-icon-button>
            </span>

            <span>
                {{spectator.username}}
            </span>
        </div>

        <div *ngIf="roomInfo.spectators.length == 0" class="list-title" style="cursor: pointer;" (click)="switchSeatsEventEmitter.emit(null)">Spectate</div>
        
        <div style="height: 20px;"></div>

        <ng-container *ngIf="roomInfo.isHost">
            <button (click)="onStartClicked()" style="font-size: 28px;">Start Game</button>
        </ng-container>

        <ng-container *ngIf="roomInfo.autoStart">
            <div class="start-note">
                The game will start automatically.
            </div>
        </ng-container>

        <ng-container *ngIf="!roomInfo.autoStart && !roomInfo.isHost">
            <div class="start-note">
                Waiting for the host to start the game.
            </div>
        </ng-container>
    </div>
</div>
