
<div 
    #uiContainer 
    [ngClass]="['player-container', playerEngine.sideData.piecesLeft > 0 ? 'player-active' : '', 'team-'+playerEngine.sideRule.team]"
    [ngStyle]="{ 'left': pos.x + 'px', 'top': pos.y + 'px', 'transform': 'scale(' + pos.scale + ')', 'opacity': pos.opacity }"
>
    <div class="h-border"></div>
    <div style="display: flex">
        <div class="v-border"></div>
        <div>
            <div class="top-spacer"></div>
            <div class="title">HOLD</div>
            <canvas #uiHold width="{{pieceSlotWidth}}" height="{{pieceSlotHeight}}"></canvas>
            <div class="h-border"></div>

            <!-- clock for turn based -->
            <ng-container *ngIf="this.playerEngine.sideRule.turnBased">
                <div class="clock-container">
                    <div class="clock-time">{{clockDisplay}}</div>
                    <div class="clock-piece-counter">
                        {{playerEngine.sideData.piecesLeft == 0 ? 'wait' : playerEngine.sideData.piecesLeft + ' pieces'}}
                    </div>
                </div>
                <div class="h-border"></div>
            </ng-container>

            <!-- combo timer for ComboMode.TIMER -->
            <ng-container *ngIf="this.playerEngine.sideRule.comboMode == ComboMode.TIMER">
                <div class="combo-timer-container" style="position: relative;">
                    <canvas #uiComboTimerCanvas class="combo-timer-canvas" width="150" height="150"></canvas>
                    <div class="combo-timer-text">{{comboTimerDisplay}}</div>
                </div>
                <div class="h-border"></div>
            </ng-container>

            <div class="move-summary">
                <div class="move-summary-spin">{{spinDisplay}}</div>
                <div style="height: 4px;"></div>
                <div class="move-summary-line-clear">{{
                    clearNames[lastMoveResult == null ? 0 : lastMoveResult.clearedLines]
                }}</div>
                <div class="move-summary-clear">{{clearDisplay}}</div>
                <div class="move-summary-combo">{{comboDisplay}}</div>
                <div class="move-summary-b2b">{{b2bDisplay}}</div>
            </div>
            <div class="h-border"></div>
            <div class="stats">
                <div class="stats-row">
                    <div class="stats-name">Total time</div>
                    <div class="stats-value">{{this.formatTime(playerEngine.gameData.stats.totalTime)}}</div>
                </div>

                <div class="stats-row">
                    <div class="stats-name">Player time</div>
                    <div class="stats-value">{{playerEngine.sideRule.turnBased ? this.formatTime(playerEngine.sideStats.totalTimeReceived - playerEngine.sideData.time) : '-'}}</div>
                </div>

                <div class="stats-row">
                    <div class="stats-name">Pieces</div>
                    <div class="stats-value">{{playerEngine.sideStats.totalPieces}}</div>
                </div>
                
                <div class="stats-row">
                    <div class="stats-name">Attack</div>
                    <div class="stats-value">{{playerEngine.sideStats.totalAttack + playerEngine.sideStats.totalBlocked}}</div>
                </div>
            </div>
            <div class="h-border"></div>
        </div>
        <div class="v-border"></div>
        <canvas #uiGarbageIndicator width="{{garbageIndicatorWidth}}" height="{{boardHeight}}"></canvas>
        <div style="position: relative;">
            <div class="overlay-container" *ngIf="overlayText != null">
                <div class="overlay-text">{{overlayText}}</div>
            </div>
            <canvas #uiBoard width="{{boardWidth}}" height="{{boardHeight}}" style="display: block;"></canvas>
        </div>
        <div class="v-border"></div>
        <div>
            <div class="title" [ngStyle]="{'width': pieceSlotWidth+'px'}">NEXT</div>
            <div *ngFor="let preview of uiHelperPrevewNrs">
                <div></div>
                <canvas #uiPreview width="{{pieceSlotWidth}}" height="{{pieceSlotHeight}}"></canvas>
            </div>
        </div>
        <div class="v-border"></div>
    </div>
    <div class="h-border"></div>
    <div class="player-name">{{playerInfo == null ? 'disconnected' : playerInfo.username}}</div>
</div>
