
.team-0 {
    border: solid 5px #ccc4;
    border-top: solid 25px #fff4;
}

.team-1 {
    border: solid 5px #50f4;
    border-top: solid 25px #50f4;
}

.team-2 {
    border: solid 5px #0f44;
    border-top: solid 25px #0f44;
}

.team-3 {
    border: solid 5px #f304;
    border-top: solid 25px #f304;
}

.team-4 {
    border: solid 5px #ff04;
    border-top: solid 25px #ff04;
}

.player-container {
    position: absolute;
    transform-origin: top left;
}


.v-border {
    background: #222;
    width: 4px;
    flex-grow: 0;
    flex-basis: 4px;
    flex-shrink: 0;
}

.h-border {
    background: #222;
    height: 4px;
    flex-grow: 0;
    flex-basis: 4px;
    flex-shrink: 0;
}

.combo-timer-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding: 10px;
    height: 170px;
}

.combo-timer-canvas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.combo-timer-text {
    font-size: 96px;
    z-index: 1;
}

.clock-container {
    text-align: center;
    padding: 10px;
}

.clock-time {
    font-size: 36px;
}

.clock-piece-counter {
    font-size: 18px;
}



.move-summary {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 140px;
}

.move-summary-spin {
    text-align: center;
    font-size: 28px;
}

.move-summary-line-clear {
    text-align: center;
    font-size: 28px;
}

.move-summary-clear {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.move-summary-combo {
    text-align: center;
    font-size: 24px;
}

.move-summary-b2b {
    text-align: center;
    font-size: 24px;
}


.stats {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 180px;
}

.stats-row {
    margin-top: 10px;
}

.player-active .clock-time {
    color: yellow;
}
.player-active .clock-piece-counter {
    color: yellow;
}


.player-name {
    font-size: 24px;
    padding: 10px;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    text-align: center;
}


.overlay-container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #333a;;
}

.overlay-text {
    text-align: center;
    background: #0008;
    font-size: 24px;
}
