<div style="display: flex; padding: 0 20px; padding-top: 10px; align-items: center;">
    <div><a href="https://discord.gg/nbgFryke4x" target="_  blank" class="discord-app-icon"><app-icon-button style="transform: translateY(6px);" iconName="discord"></app-icon-button></a></div>
    <div style="flex-grow: 1; font-size: 12px; color: #fff8;">This chat is now publicly visible on discord.</div>
    <div style="width: 10px;"></div>
    <div><app-icon-button [iconName]="'close-chat'" (click)="close.emit()"></app-icon-button></div>
</div>
<div style="padding: 15px;">
    <div *ngFor="let m of messages; let i=index">
        <div>
            <div class="username">{{m.username}}</div>
            <span> </span>
            <span class="message">{{m.message}}</span>
        </div>
        <div class="spacer"></div>
    </div>

    <input #inp (keyup.enter)="onEnterMessage($event)" maxlength="200" style="width: 100%;"/>
</div>