
.username {
    font-weight: bold;
    color: #7f2;
}

.spacer {
    height: 10px;
}

.chatbox {
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.discord-app-icon {
    margin-top: 3px;
    margin-bottom: -3px;
    margin-right: 3px;
}