
<div style="display: flex; height: 100%; justify-content: center; overflow: hidden;">
    <ng-container *ngIf="roomEnteredInfo != null" >
        <div style="height: 100%; width: 300px; flex-shrink: 0; display: flex; flex-direction: column; align-items: center;">
            <app-room-tile
                [roomInfo]="roomEnteredInfo.room"
                [gameRuleInput]="uiGameRuleInput.data"
                (start)="onStart()"
                (switchSeats)="onSwitchSeats($event)"
                (transferHost)="onTransferHost($event)"
                (teamClick)="onTeamClick($event)"
                (addPlayer)="uiGameRuleInput.addPlayer()"
                (removePlayer)="uiGameRuleInput.removePlayer()"
            ></app-room-tile>

            <ng-container *ngIf="roomEnteredInfo.room.autoJoin && roomEnteredInfo.room.seatNr == null">
                <button (click)="onJoin()" style="font-size: 28px">Join</button>
            </ng-container>
        </div>
        
        <div style="flex-basis: 80px; flex-shrink: 0;"></div>
    
        <div style="flex-grow: 1;">
            <div style="height: 100%; display: flex; flex-direction: column;">
                <div style="display: flex;">
                    <div (click)="openTab(tabs.ROOM_SETTINGS)" class="tab-button" [ngClass]="{'tab-button-selected': tab == tabs.ROOM_SETTINGS}">Room</div>
                    <div (click)="openTab(tabs.RULE_SETTINGS)" class="tab-button" [ngClass]="{'tab-button-selected': tab == tabs.RULE_SETTINGS}">Rule</div>
                    <div (click)="openTab(tabs.GAME_RESULT)" *ngIf="gameResult != null" class="tab-button" [ngClass]="{'tab-button-selected': tab == tabs.GAME_RESULT}">Result</div>
                </div>

                <div [hidden]="tab!=tabs.ROOM_SETTINGS" style="flex-grow: 1; min-height: 0;">
                    <app-room-settings
                        #uiRoomSettings
                        [roomEnteredInfo]="roomEnteredInfo"
                        (start)="onStart()"
                        (toggleAutoJoin)="toggleAutoJoin()"
                        (toggleAutoStart)="toggleAutoStart()"
                    ></app-room-settings>
                </div>
    
                <div [hidden]="tab!=tabs.RULE_SETTINGS" style="flex-grow: 1; min-height: 0;">
                    <app-game-rule-input
                        #uiGameRuleInput
                        (confirmGameRule)="confirmGameRule($event)"
                        [editable]="roomEnteredInfo != null && roomEnteredInfo.room.isHost && roomEnteredInfo.room.custom"
                    ></app-game-rule-input>
                </div>
    
                <div [hidden]="tab!=tabs.GAME_RESULT" style="flex-grow: 1; min-height: 0;">
                    <app-game-result
                        #uiGameResult
                        [gameResult]="gameResult"
                    ></app-game-result>
                </div>
            </div>
        </div>
    </ng-container>
</div>