<!-- 
<ng-container *ngIf="roomEnteredInfo.room.isHost">
    <button (click)="start.emit()" style="font-size: 28px;">Start Game</button>
</ng-container> -->

<div style="height: 20px;"></div>

<div class="room-option">
    <input type="checkbox" class="checkbox" [ngModel]="roomEnteredInfo.room.autoJoin" [disabled]="!roomEnteredInfo.room.isHost" (change)="toggleAutoJoin.emit()"/> Auto join players
</div>

<div class="room-option">
    <input type="checkbox" class="checkbox" [ngModel]="roomEnteredInfo.room.autoStart" [disabled]="!roomEnteredInfo.room.isHost" (change)="toggleAutoStart.emit()"/> Auto start rounds
</div>

