
<div style="height: 100%; position: relative; width: 100%; overflow: hidden;">
    <div [ngClass]="{'chat-box': true, 'chat-box-visible': showChatBox}">
        <app-chat
            #chat
            (message)="showChatBox ? null : sideMenu.notifyChat()"
            (close)="toggleChatbox()"
        ></app-chat>
    </div>

    <div style="display: flex; height: 100%;">
        <div style="flex-grow: 1; overflow: auto; height: 100%;" class="hideScrollbar">
            <app-login #login [hidden]="screen!=screenEnum.LOGIN"
                (login)="onLoggedIn()"
            ></app-login>
            
            <app-lobby #lobby 
                [hidden]="screen!=screenEnum.LOBBY"
                [presetInfos]="presetInfos"
                (openLeaderboard)="onGoToLeaderboard()"
            ></app-lobby>
            
            <app-menu-control #settings [hidden]="screen!=screenEnum.SETTINGS"
                (close)="onCloseScreen()"
            ></app-menu-control>
            
            <app-room #room [hidden]="screen!=screenEnum.ROOM"
                (startGame)="on_gameEntered($event)"
            ></app-room>
            
            <app-game #game 
                [hidden]="screen!=screenEnum.GAME"
                [roomEnteredInfo]="roomEnteredInfo"
                (exitGame)="onExitGame()"
            ></app-game>

            <app-credits #credits
                [hidden]="screen!=screenEnum.CREDITS"
                (close)="onCloseScreen()"
            ></app-credits>

            <app-leaderboard #leaderboard
                [hidden]="screen!=screenEnum.LEADERBOARD"
                (close)="onCloseScreen()"
            ></app-leaderboard>
        </div>
        <div>
            <app-side-menu
                #sideMenu
                (goToSettings)="onGoToSettings()"
                (goToCredits)="onGoToCredits()"
                (toggleSound)="toggleSound()"
                (toggleChat)="toggleChatbox()"
                (exit)="onExit()"
                [soundEnabled]="soundService.enabled"
            ></app-side-menu>
        </div>
    </div>
</div>