
:host {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    
    padding: 0px 40px;
    box-sizing: border-box;
    overflow: hidden;
}

.hideScrollbar::-webkit-scrollbar {
    display: none;
}
.hideScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.chat-box {
    transition: 400ms;
    position: fixed;
    right: -400px;
    opacity: 0;
    width: 400px;
    bottom: 0px;
    min-height: 100%;

    background: #111e;
    z-index: 1000000;
}

.chat-box-visible {
    transition: 100ms;
    right: 0;
    bottom: 0px;
    opacity: 1;
}
