
.box {
    padding: 100px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
}

.room-category-title {
    font-size: 18px;
}

.hr {
    border-top: 1px solid #fff4;
    margin: 7px 0;
}