
<div class="box">
    <ng-container *ngFor="let roomCategory of roomCategories">
        <div class="hr"></div>
        <div class="room-category-title">{{roomCategory.name}}</div>
        <div class="hr"></div>
        <div>
            <ng-container *ngFor="let room of roomCategory.rooms; let i=index">
                <div [ngStyle]="{'border-top': i == 0 ? '' : 'solid #fff3;'}">
                    <app-room-item 
                        [roomInfo]="room"
                        (join)="onJoinRoomClicked(room, false)"
                        (spectate)="onJoinRoomClicked(room, true)"
                    ></app-room-item>
                </div>
            </ng-container>
            
            <ng-container *ngIf="roomCategory.rooms.length == 0">
                <div>(no rooms)</div>
            </ng-container>
        </div>

        <div style="height: 60px;"></div>
    </ng-container>
    
    <div>
        <app-create-room
            (openLeaderboard)="openLeaderboard.emit()"
            (refresh)="refreshRoomList()"
            (createRoom)="onSubmitCreateRoom($event)"
            [presetInfos]="presetInfos"
        ></app-create-room>
    </div>
</div>
