
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;
    z-index: 10000;
    align-items: flex-end;
}

.player-name {
    font-weight: bold;
}

.coins-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.coins-text {
    color: yellow;
}
