
<ng-container *ngIf="session.account">
    <div class="player-name">{{session.account.name}}</div>
    <div style="height: 4px;"></div>
    <div class="coins-box">
        <div class="coins-text">{{session.account.coins}}</div>
        <div style="width: 6px;"></div>
        <img src="assets/img/coin.png" height="20"/>
    </div>
</ng-container>

<div style="height: 10px;"></div>

<app-icon-button
    [iconName]="'keyboard'"
    (click)="clickControlSettings()"
></app-icon-button>

<app-icon-button
    [iconName]="soundEnabled ? 'sound-on' : 'sound-off'"
    (click)="clickSound()"
></app-icon-button>

<app-icon-button
    [iconName]="'chat'"
    [notification]="chatNotification"
    (click)="clickChat()"
></app-icon-button>

<app-icon-button
    [iconName]="'credits'"
    (click)="clickCredits()"
></app-icon-button>

<app-icon-button
    [iconName]="'logout'"
    (click)="clickExit()"
></app-icon-button>
