
<div class="box">
    <div class="box-content">
        <!-- Enter name -->
        <ng-container *ngIf="subscreen == subscreens.ENTER_NAME">
            <div style="text-align: center; font-size: 24px;">
                Pick a name
                <span style="
                    display: inline-block;
                    transform: scale(1.5) translate(0, 4px);
                    margin: 4px;
                "><app-icon-button [iconName]="'magic'" (click)="setRandomName()"></app-icon-button></span>
            </div>

            <div class="spacer"></div>
            
            <div style="display: flex; align-items: center; justify-content: center;">
                <input #inp [(ngModel)]="inpData" placeholder="username" maxlength="15" class="main-input" (keyup.enter)="onSubmit()">
            </div>
            {{ inp.focus() }}

            <div>
                <img (click)="onSubmit()" class="banner-btn" src="assets/img/banner.ico"/>
            </div>
            
            <div style ="font-size: 12px; margin-top: 100px;">
                <div style=" cursor: pointer;" (click)="raiseItemNo($event)">
                    <div style="font-size: 16px;">Unstable experimental version.</div>
                    
                    
                    <div style="margin-top: 4px; opacity: 0.75;">
                        {{historyList[0]}}
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; align-items: center;">
                    <div class="version-history" (click)="raiseItemNo($event)" *ngFor="let history of historyDisplay">
                        {{history}}
                    </div>
                </div>
        
                <!-- <div style=" cursor: pointer;" (click)="this.randomMessage()">
                    <div style="margin-top: 20px; font-size: 16px;">
                        The game is intended for playing out the possibilities.
                    </div>
                    
                    <div style="margin-top: 8px;" style="opacity: 0.5; user-select: none;">
                        {{msg}}
                    </div>
                </div> -->
            </div>
        </ng-container>
    
        <!-- Enter password -->
        <ng-container *ngIf="subscreen == subscreens.ENTER_PASSWORD">
            <div style="text-align: center; font-size: 24px;">
                {{username}}, enter your password:       
            </div>

            <div class="spacer"></div>
            
            <input #inp [(ngModel)]="inpData" type="password" placeholder="i<3nasa" maxlength="15" class="main-input" (keyup.enter)="onSubmitPassword()">
            {{ inp.focus() }}
            <div style="margin-top: 30px;">
                <input type="checkbox"
                [checked]="rememberPassword"
                (change)="rememberPassword = !rememberPassword"
                 style="transform: scale(2); margin-right: 15px;" >Remember password
            </div>

            <div class="btnRow">
                <div class="btn cancel" (click)="onCancel()">Cancel</div>
                <div class="btn cancel" (click)="onResetPassword()">Reset password</div>
                <div class="btn confirm" (click)="onSubmitPassword()">Log in</div>
            </div>
        </ng-container>
    
        <!-- Choose anonymous -->
        <ng-container *ngIf="subscreen == subscreens.CHOOSE_ANONYMOUS">
            <div style="text-align: center; font-size: 24px;">
                The username {{username}} does not exists. Create a new account?
            </div>

            <div class="spacer"></div>
            
            <div class="btnRow">
                <div class="btn cancel" (click)="onCancel()">Cancel</div>
                <div class="btn skip" (click)="onSkipCreation()">Play without account</div>
                <div class="btn confirm" (click)="onCreateAccount()">Create account</div>
            </div>

            <!-- <div (click)="onSkipCreation()">
                <img class="banner-btn" src="assets/img/banner.ico"/>
            </div> -->
        </ng-container>
    
        <!-- Registration -->
        <ng-container *ngIf="subscreen == subscreens.REGISTER">
            <div style="text-align: center; font-size: 24px;">
                Create your password:
            </div>

            <div class="spacer"></div>
            
            <input #inp [(ngModel)]="inpData" type="password" placeholder="ILoveNASA" maxlength="15" class="main-input" (keyup.enter)="onCreatePassword()">
            {{ inp.focus() }}

            <div class="btnRow">
                <div class="btn cancel" (click)="onCancel()">Cancel</div>
                <div class="btn confirm" (click)="onCreatePassword()">Create account</div>
            </div>
        </ng-container>
    </div>
</div>
