
.main-input {
    text-align: center;
    font-size: 48px;
}

.main-input::placeholder {
    color: #0002;
}

.spacer {
    height: 24px;
}

.btnRow {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.btn {
    margin: 0 10px;
    padding: 12px 30px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
}

.btn.cancel {
    background: linear-gradient(26deg, #c55, #f88);
}
.btn.cancel:hover {
    background: #f77;
}

.btn.skip {
    background: linear-gradient(26deg, #aa5, #cc8);
}
.btn.skip:hover {
    background: #dd8;
}

.btn.confirm {
    background: linear-gradient(26deg, #595, #8d8);
}
.btn.confirm:hover {
    background: #7c7;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.box-content {
    text-align: center;
}

.banner-btn {
    cursor: pointer;
    transition: 500ms;
}

.banner-btn:hover {
    transition: 100ms;
    transform: scale(1.2);
    filter: brightness(160%);
    -webkit-filter: brightness(160%);
    -moz-filter: brightness(160%);
    -o-filter: brightness(160%);
    -ms-filter: brightness(160%);
}

.click-me {
    cursor: pointer;
    opacity: 0.8;
}

.click-me:hover {
    opacity: 1;
}

.version-history {
    text-align: left;
    width: 700px;
    cursor: pointer;
    margin-top: 4px;
    opacity: 0.5
}
