
<div 
    #pixiContainer
    class="pixi"
>
</div>
<!-- 
<div 
    #pixiContainer
    style="display: flex; flex-wrap: nowrap; height: 100%; position: relative; overflow: hidden;"
    class="full-size"
    (window:resize)="onResize()"
    >
</div> -->
