
* {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    height: 100%;
}

body {
    padding: 10px;
    box-sizing: border-box;
}
