
:host {
    font-size: 24px
}

.section-title {
    font-size: 32px;
}

.credit-row {
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}