
<div style="padding: 200px">
    <div class="section-title">
        <img src="/assets/img/default/icon-sound-on.svg" style="height: 60px; vertical-align: middle;"/> Raw sound effects from freesound.org <span style="font-size: 16px">(attribution required)</span>
    </div>
    
    <div style="height: 5px"></div>
    
    <div *ngFor="let sound of sounds" class="credit-row">
        <a href="{{sound.source}}">
            <div class="credit-usage">{{sound.usage}}</div>
        </a>
        <!-- <div class="credit-source">{{sound.source}}</div> -->
    </div>

    <div style="height: 80px"></div>
        
    <div class="section-title">
        <img src="/assets/img/default/icon-bug.svg" style="height: 60px; vertical-align: middle;"/> Alpha version
    </div>
    
    <div style="height: 5px"></div>

    <div>
        Feel free to complain, share ideas or chat via <a href="https://discord.gg/nbgFryke4x" target="_  blank"><app-icon-button iconName="discord"></app-icon-button> discord</a>. This game is being developed slow and steady and your feedbacks may help steer it to the right direction.
    </div>
</div>
