
<div class="main-container" style="display: flex; flex-direction: column; height: 100%;">
    <div class="title">
        Rule Settings
    </div>
    
    <div style="height:10px;"></div>

    <!-- <div>
        <button (click)="updateGameRule()"> Confirm rule changes </button>
    </div> -->

    <div class="player-select">
        <div class="player-select-left">
            <button 
                [ngClass]="{'player-select-button-selected': displaySideNr==null}"
                (click)="setDisplaySideNr(null)"
            >
                Global Rules
            </button>
            
            <button 
                *ngFor="let sideNr of this.sideNrs"
                [ngClass]="{'player-select-button-selected': displaySideNr==sideNr}"
                (click)="setDisplaySideNr(sideNr)"
            >
                Player {{sideNr + 1}}
            </button>
    
            <ng-container *ngIf="editable">
                <app-icon-button [iconName]="'add-player'" (click)="addPlayer()" title="Add player" [disabled]="editable"></app-icon-button>
                <app-icon-button [iconName]="'remove-player'" (click)="removePlayer()" title="Reduce player" [disabled]="editable"></app-icon-button>
            </ng-container>
        </div>

        <div class="player-select-right">
            <app-toggle-text
                [choices]="detailLevelChoices"
                [initialValue]="0"
                (change)="selectedDetailLevel=$event"
            ></app-toggle-text>
        </div>

        <div style="width: 50px;"></div>

        <div class="player-select-right">
            <app-icon-button [iconName]="'clipboard'" (click)="saveRuleToClipboard()" title="Copy JSON to clipboard"></app-icon-button>
            <app-icon-button [iconName]="'save'" (click)="saveRuleToFile()" title="Save JSON to file"></app-icon-button>
            <input placeholder="Paste here..." (paste)="loadRule($event)" style="width: 100px;">
        </div>
    </div>
    
    <div style="flex-grow: 1; overflow-y: auto;">
        <div *ngFor="let field of sideFields" class="field-container" (mouseenter)="updateHint(field)" (mouseleave)="updateHint(null)">
            <ng-container *ngIf="field.detailLevel == null || field.detailLevel <= this.selectedDetailLevel">
                <div class="field-name" style="width: 150px;">{{field.path.substr(0, field.path.lastIndexOf('/'))}}</div>
                <div class="field-name">{{field.path.split('/')[field.path.split('/').length-1]}}</div>

                <!-- override checkbox -->
                <div class="field-override-option">
                    <ng-container *ngIf="displaySideNr!=null && !field.nonOverridable">
                        <input type="checkbox" 
                            [ngModel]="getDisplayedSideRule().get(field.key) != null"
                            (change)="toggleOverride(field, $event.target.checked)"
                            [disabled]="!editable"
                        />
                        <label>override</label>
                    </ng-container>
                </div>

                <!-- field types -->
                <div class="field-value" [ngStyle]="{'opacity': getDisplayedSideRule().get(field.key) == null ? 0.35 : 1}">
                    <ng-container *ngIf="field.type==ruleFieldType.INTEGER_BOX || field.type==ruleFieldType.DECIMAL_BOX || field.type==ruleFieldType.STRING">
                        <app-integer-input
                            [value]="(getDisplayedSideRule().get(field.key) == null ? data.globalSideRules : getDisplayedSideRule()).get(field.key)"
                            [field]="field"
                            [editable]="editable && getDisplayedSideRule().get(field.key) != null"
                            (submitValue)="submitValue(field.key, $event)"
                        ></app-integer-input>
                    </ng-container>
            
                    <ng-container *ngIf="field.type==ruleFieldType.ON_OFF">
                        <input type="checkbox"
                            [ngModel]="(getDisplayedSideRule().get(field.key) == null ? data.globalSideRules : getDisplayedSideRule()).get(field.key)"
                            (change)="submitValue(field.key, $event.target.checked)"
                            [disabled]="!editable || !(getDisplayedSideRule().get(field.key) != null)">
                        <label>enabled</label>
                    </ng-container>
            
                    <ng-container *ngIf="field.type==ruleFieldType.CHOICE">
                        <select (change)="submitValue(field.key, parseInt($event.target.value))" [disabled]="!editable">
                            <option
                                *ngFor="let choice of field.choices"
                                [value]="choice.value"
                                [selected]="getDisplayedSideRule().get(field.key) == choice.value"
                            >
                                {{choice.label}}
                            </option>
                        </select>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
    
    <div style="height:10px;"></div>
    <div class="hint">{{hint}}</div>
</div>
