
:host {
    display: block;
    height: 100%;
    overflow: hidden;
}

.main-container {
    box-sizing: border-box;
    padding: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.hint {
    opacity: 0.5;
    height: 80px;
}

.field-container {
    display: flex;
    align-items: center;
}
.field-container:hover {
    background: #fff3;
}

.field-name {
    width: 250px;
    padding: 6px;
}


.field-override-option {
    width: 100px;
}



.player-select {
    display: flex;
    align-items: center;
}

.player-select-left {
    // width: 600px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.player-select-right {
    display: flex;
    align-items: center;
}

.player-select-button {
    border: solid 1px #fff ;
}

.player-select-button-selected {
    background: yellow;
}